body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.parent {
    display: flex;
    flex: 1;
}

.container1, .container2 {
    flex: 1;
    display: flex;
}

.container1 {
    background-color: grey;
}

.container2 {
    background-color: lightgrey;
}

.rightmain, .leftmain{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rightmain {
    background-color: lightgrey;
}

.leftmain {
    background-color: grey;
}

.topbox {
    flex: 1;
    margin: 25px;
    margin-bottom: 0;
    background-color: white;
}

.lowerbox {
    display: flex;
    gap: 25px;
    margin: 25px;
    height: 50%;
}

.side {
    flex: 0.5;
    background-color: white;
}

.center {
    flex: 2;
    background-color: white;
}

.footer {
    height: 30px;
    background-color: darkgrey;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


